{{#eachAlive bind.database.members as |member| ~}}
{{#if @first ~}}


[client]
{{#if member.cfg.host ~}}
    host = "{{ member.cfg.host }}"
{{~ else ~}}
    host = "{{ member.sys.ip }}"
{{~ /if}}
port = "{{ member.cfg.port }}"
user = "{{ member.cfg.username }}"
password = "{{ member.cfg.password }}"

[mysql]
database = "{{ ../cfg.sites.default.database }}"


{{~ /if}}
{{~ /eachAlive}}